.AddButton {
    height: 60px;
    width: 60px;
    cursor: pointer;

    position: fixed;
    right: 40px;
    bottom: 40px;

    @media (max-width: 768px) {
        height: 45px;
        width: 45px;

        right: 30px;
        bottom: 30px;
    }
}