@import '../../index.module.scss';

.Jog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @media (max-width: 768px) {
        margin: 45px 0;
    }

    img {
        height: 85px;
        width: 85px;

        margin-right: 45px;
    }

    p {
        color: $greyThree;
        margin: 6px 0;

        &.jogDate {
            font-family: SFUIText-Regular;
            font-size: $text;
        }
        span {
            color: black;
            font-family: SFUIText-Medium;
            font-size: $text;
        }
    }
}