.Info {
    h1 {
        margin-top: 85px;
    }
    p {
        margin-bottom: 30px;
    }
}


@media (max-width: 768px) {
    h1 {
        margin: 25px 25px 5px !important;
    }
    p {
        margin: 0 25px;
    }
}