@import '../../index.module.scss';

.header {
    position: relative;
    width: 100vw;
    background: $apple-green;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navWrapper {
        display: flex;
        align-items: center;
    }
}