@import '../../../index.module.scss';

Filter {
    height: 31px;
    border-radius: 11px;
    border: solid 1px #979797;
    max-width: 100px;
    background: white;
    @media (max-width: 768px) {
                max-width: 70px !important;
    }
}