@import '../../../index.module.scss';

.header {
    width: 100vw;
    background: $apple-green;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        margin: 30px 35px;
        height: 55px;
        width: 145px;
    }

    li {
        display: inline;
        color: black;
        text-transform: uppercase;
        list-style-type: none;
    
        a {
            color: white;
            font-family: SFUIText-Bold;
            font-size: $text;
            text-decoration: none;
        
            margin-right: 40px;
            padding: 4px;
        }
        
        a {
            border-bottom: solid 2px white;
        }
    }

    .filter {
        height: 40px;
        width: 40px;
    }
}
