@import '../../../index.module.scss';

.nav {
    display: flex;
    align-items: center;
    z-index: 5;
    @media (max-width: 768px) {
        height: calc(100vh - 175px);
        width: 100vw;

        display: none;
        justify-content: center;
        align-items: flex-start !important;

        margin-top: 75px;
        padding-top: 100px;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        background: $white;
    }

    ul {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            padding: 0;
        }
            
        li {
            display: inline;
            color: black;
            text-transform: uppercase;
            list-style-type: none;
            @media (max-width: 768px) {
                margin: 15px 0 !important;
            }

            a {
                color: white;
                font-family: SFUIText-Bold;
                font-size: $text;
                text-decoration: none;
            
                margin-right: 40px;
                padding: 4px;
                @media (max-width: 768px) {
                    color: black !important;
                    font-size: 25px !important;
                    border-bottom: none !important;
                    margin: 0 !important;
                }

                &.active {
                    border-bottom: solid 2px white;
                    @media (max-width: 768px) {
                        color: $apple-green !important;
                    }
                }
            }
        }
    }
}