@import '../../index.module.scss';

$padding: 30px;

.Filters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 15px 0;
    background: $white-two;
    animation: show 0.3s ease-in-out 0s;
    @keyframes show {
        0% {   
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @media (max-width: 400px) {
        justify-content: space-around;
    }

    .Filter {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 400px) {
            text-align: center;
            flex-direction: column;
        }
        &:nth-child(1) {
            margin-right: 45px;
            @media (max-width: 768px) {
                margin-right: 0.8em !important;
            }
        }

        label {
            color: #979797;
            margin-right: 15px;
            @media (max-width: 400px) {
                margin-right: 0;
                margin-bottom: 5px;
            }
        }
    } 
}